* {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

.anchor-pane {
    -fx-background-color: #f8f8f8;
}

.label {
    -fx-font-size: 16px;
    -fx-font-family: "Bahnschrift";
    -fx-text-fill: #333333;
    -fx-padding: 5px 10px;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-font-weight: bold
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.text-field {
    -fx-border-color: #4CAF50;
    -fx-font-size: 14px;
}
.scrollPane {
    -fx-control-inner-background: rgba(204, 141, 46, 0);
    -fx-background: rgba(204, 141, 46, 0);
    -fx-background-color: rgba(174, 218, 120, 0);
    -fx-border-color: rgba(0, 64, 255, 0);
    -fx-border-width: 1px;
}
/*.scroll-bar:vertical {*/
/*    -fx-background-color: blue; !* Color for vertical scroll bar *!*/
/*}*/

/*.scroll-bar:horizontal {*/
/*    -fx-background-color: green; !* Color for horizontal scroll bar *!*/
/*}*/

/*.scroll-bar .thumb {*/
/*    -fx-background-color: yellow; !* Color for the scroll thumb *!*/
/*}*/